li{
    text-decoration: none !important;
    cursor: pointer;
    color: #0086B3;
}
#details{
    max-height: 480px;
    min-height: 240px;
    overflow: auto;
}
#jsonViewer{
    max-height: 480px;
    min-height: 240px;
    overflow: auto;
}
